@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (!user.EmailConfirmed)
    {
        <div class="alert alert-warning" role="alert">
            Verify your email address to unlock the @@memberSpace paste space!
            <a href="/Account/">Click here to send a new verification email!</a>
        </div>
    }
}