@using System.Globalization
@using DevBin.Utils
@using Humanizer
@using Microsoft.Extensions.Localization
@model Paste

@inject IStringLocalizer<_Shared> Shared

<a href="/@Model.Code" class="text-decoration-none">
    <div class="card mb-3">
        <div class="card-body border">
            <h5 class="card-title link">@Html.DisplayFor(item => Model.Title)</h5>
            <p class="card-text font-monospace text-muted fst-italic lh-1 text-truncate">@Model.Cache[..Math.Min(64, Model.Cache.Length)]</p>
        </div>
        <div class="card-footer border border-top-0">
            <span class="badge badge-color">@(Model.Syntax.Name == "auto" ? Shared["Syntax.Auto"] : Model.Syntax.DisplayName)</span>
            <span class="fst-italic text-muted float-end">@Model.DateTime.ToRelative()</span>
        </div>
    </div>
</a>