@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@if (Model.ShowErrorCode)
{
    <h1 class="text-danger">@Localizer["ErrorStatus", Model.ErrorCode?.ToString() ?? ""]</h1>
}
else
{
    <h1 class="text-danger">@Localizer["Error"]</h1>
}
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId && Model.RequestId != null)
{
    <p>
        <strong>@Localizer["RequestId", Model.RequestId]</strong>
    </p>
}