@page
@model DevBin.Pages.IndexModel

@{
    ViewData["Title"] = "Upload and share scripts";
}

<form method="post" onsubmit="event.preventDefault(); validate();">
    <div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-sm-8 has-validation">
            <span asp-validation-for="UserPaste.Content" class="text-danger"></span>
            <textarea asp-for="UserPaste.Content" id="paste-input" class="form-control bg-dark text-light font-monospace outline-dark"
                      placeholder="<code> /dev/bin </code>" wrap="soft" required autofocus autocomplete="off"
                      onkeydown="autoSize()" onkeypress="autoSize()" onkeyup="autoSize()"></textarea>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-6">
                    <label asp-for="UserPaste.Title" class="form-label">Title</label>
                    <input asp-for="UserPaste.Title" type="text" class="form-control bg-dark text-light" autocomplete="off" placeholder="My paste" />
                </div>
                <div class="col-6">
                    <label asp-for="UserPaste.SyntaxId" class="form-label">Syntax</label>
                    <select asp-for="UserPaste.SyntaxId" class="form-select bg-dark text-light" asp-items="ViewBag.Syntaxes" data-live-search="true"></select>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6">
                    <label asp-for="UserPaste.ExposureId" class="form-label">Exposure</label>
                    <select id="paste-exposure" asp-for="UserPaste.ExposureId" class="form-select bg-dark text-light" asp-items="ViewBag.Exposures">
                    </select>
                </div>

                <div class="col-6">
                    <label id="paste-key-label" for="paste-key" class="form-label text-muted">Paste Key</label>
                    <!-- this is ridiculous -->
                    <input id="paste-key" name="paste-key" type="password" autocomplete="off" class="form-control bg-dark text-light" placeholder="Paste key..." disabled
                           readonly onfocus="this.removeAttribute('readonly');" , onfocusout="this.setAttribute('readonly','readonly');" />
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6">
                    <div class="form-check">
                        @if (HttpContext.User.Identity!.IsAuthenticated)
                        {
                            <input asp-for="UserPaste.AsGuest" class="form-check-input" type="checkbox">
                        }
                        else
                        {
                            <input asp-for="UserPaste.AsGuest" class="form-check-input" type="checkbox" disabled checked aria-checked="True">
                        }
                        <label asp-for="UserPaste.AsGuest" class="form-check-label">
                            Create as guest
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="form-control btn btn-light"><i class="fas fa-plus"></i> Create Paste</button>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/index.js"></script>
}
