@page
@using Humanizer;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@model DevBin.Pages.LatestModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div class="row mx-lg-5">
    <h2>@Localizer["Title"]</h2>
    <hr />
    @if (!Model.Pastes.Any())
    {
        <h2 class="text-muted fst-italic text-center">@Localizer["NoPastes"]</h2>
    }

    @foreach (var paste in Model.Pastes)
    {
        <div class="col-sm-12 col-md-4">
            @await Html.PartialAsync("Partials/PastePartial", paste)
        </div>
    }
</div>