@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>Privacy Policy</h3>

<h4>What type of information and why do we collect from users?</h4>
<ul>
    <li>E-Mail Addresses: We collect E-Mail addresses for verification and password resets purposes.</li>
    <li>Usernames: We collect usernames for login purposes and to represent the user in the website.</li>
    <li>IP Address used to create new pastes.</li>
</ul>

<h4>What type of information and why do we collect from visitors?</h4>
<i>Registered users included</i>
<ul>
    <li>User Agent: The user browser sends an information containing what type of browser, operating system to generate the session cookie along the IP Address</li>
    <li>IP Address: The IP Address is used to generate the session cookie</li>
</ul>
<i>The session cookie is used to count the views of each paste</i>

<h4>By what means is this information collected?</h4>
<p>We use cookies to store the following:</p>
<ul>
    <li>Visitor session ID: This cookie is automatically created upon visiting the website and uses a combination of User Agent, IP Address and current date to count views.</li>
    <li>User session token: This cookie is created upon logging in and it's used to represent the user in the application.</li>
</ul>

<h4>Who has access to these information?</h4>
<ul>
    <li>These information are only stored in the website server and in the visitor browser.</li>
    <li>
        This site is protected by <a href="https://www.hCaptcha.com">hCaptcha</a> and its
        <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and
        <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.
    </li>
</ul>

<h4>How do we update users about upcoming changes to the Privacy Policy and Terms of Service?</h4>
<p>An announcement will be displayed at the top of the main page describing the changes and when it will be applied.</p>
<p>Emails may also be sent as well.</p>

<h4>Protection</h4>
<p>We store password as hashed data using the algorithms SHA384 and BCrypt. Hashing is an one-way process to make the data unreadable.</p>

<h4>Contact</h4>
<p>For more questions you can contact me at the following email address: <a class="text-light" href="mailto:me@@alexdevs.me">me@@alexdevs.me</a> or visit my website <a class="text-light" href="https://alexdevs.me">https://alexdevs.me</a></p>

