@page
@model DevBin.Pages.ToSModel
@{
    ViewData["Title"] = "Terms of Service";
}

<h1>Terms of Service</h1>

<p>We ask our users to follow these guidelines.</p>
<p>We take liberty to terminate any account without notice if found to be abusing the service.</p>

<p>You are NOT allowed to:</p>
<ul>
    <li>Use this service to upload illegal or malevolent content.</li>
    <li>Use this service to share pirated content.</li>
    <li>Create accounts to the purpose of impersonating someone else.</li>
    <li>Abusing the storage offered to upload texts and scripts.</li>
</ul>

<h3 id="dmca">DMCA</h3>
<p>For DMCA takedown requests contact this E-Mail address: <a class="text-light" href="mailto:me@@alexdevs.me">me@@alexdevs.me</a> </p>