@page
@model DevBin.Pages.Account.ForgotPasswordModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <form method="post">
            <h3>Forgot password?</h3>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email Address</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                    <input type="email" asp-for="Email" class="form-control bg-dark text-light" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if (ViewBag.AlreadySent == true)
            {
                <p class="text-danger">Please check your inbox.</p>
            }
            else if (ViewBag.IsSent == true)
            {
                <p class="text-success">If this email address is associated with an account you should get a password reset request in your inbox.</p>
            }

            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}