@page
@model DevBin.Pages.Account.IndexModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <form method="post">
            <h3>Sign In</h3>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                    <input type="text" asp-for="Username" class="form-control bg-dark text-light" autocomplete="username" />
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                    <input asp-for="Password" type="password" class="form-control bg-dark text-light" id="password">
                    <button class="input-group-text bg-dark text-light" type="button" onmousedown="showPassword('password');" onmouseup="hidePassword('password');" onmouseleave="hidePassword('password');">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="KeepLoggedIn" class="form-check-input">
                <label class="form-check-label" asp-for="KeepLoggedIn"></label>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a class="text-light mt-3 float-end" asp-page="SignUp">You don't have an account? Click here to sign up!</a>
        </form>


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}