@page
@model DevBin.Pages.Account.ResetPasswordModel
@{
}


<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <form method="post">
            <h3>Reset Password</h3>
            <div asp-validation-summary="ModelOnly"></div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="Password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input asp-for="Password" type="password" class="form-control bg-dark text-light" id="password" tabindex="1">
                            <button class="input-group-text bg-dark text-light" type="button" tabindex="-1" onmousedown="showPassword('password');" onmouseup="hidePassword('password');" onmouseleave="hidePassword('password');">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="RepeatPassword" class="form-label">Repeat Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input asp-for="RepeatPassword" type="password" class="form-control bg-dark text-light" id="repeat-password" tabindex="2">
                            <button class="input-group-text bg-dark text-light" type="button" tabindex="-1" onmousedown="showPassword('repeat-password');" onmouseup="hidePassword('repeat-password');" onmouseleave="hidePassword('repeat-password');">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-text">
                    Your password should be at least 8 characters long.
                </div>
            </div>
            <button type="submit" class="btn btn-primary" tabindex="3">Reset password</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}