@page
@model DevBin.Pages.Account.SendVerificationCodeModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 text-center">
        @if (!(bool)ViewData["AlreadySent"])
        {
            <h3>Just one last step!</h3>
        }
        else
        {
            <h3>Already sent!</h3>
        }
        <p>Please check your email inbox for the verification process.</p>

    </div>
</div>