@page
@model DevBin.Pages.Account.SendVerificationCodeModel
@{
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12 text-center">
        <h3>Welcome to DevBin!</h3>
        <p></p>
        <a href="/" class="text-light">Click here if you are not getting redirected.</a>
    </div>
</div>