@page
@model DevBin.Pages.Account.SettingsModel
@{
    var user = HttpContext.Items["User"] as Models.User;
}

<div class="my-4 row">
    <div class="offset-md-1 col-md-4">
        <div class="mt-3">
            <form asp-page-handler="UpdateEmail" method="post">
                <h5>Update Email Address</h5>
                <div class="mb-3">
                    <label asp-for="EmailChange" class="form-label">Your Email Address</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="far fa-envelope"></i>
                        </span>
                        <input type="email" asp-for="EmailChange" class="form-control bg-dark text-light">
                    </div>
                    <span asp-validation-for="EmailChange" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-light" id="email-button"><i class="fas fa-pen"></i> Update Email Address</button>
            </form>
        </div>
        <div class="mt-3">
            <form asp-page-handler="UpdatePassword" method="post">
                <h5>Update Password</h5>
                <div class="mb-3">
                    <label asp-for="CurrentPassword" class="form-label">Your Current Password</label>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                        <input asp-for="CurrentPassword" type="password" class="form-control bg-dark text-light" id="old-password" autocomplete="current-password">
                        <button class="input-group-text bg-dark text-light" type="button" onmousedown="showPassword('old-password');" onmouseup="hidePassword('old-password');" onmouseleave="hidePassword('old-password');">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                </div>
                <div>
                    <label asp-for="NewPassword" class="form-label">Your New Password</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                        <input asp-for="NewPassword" type="password" class="form-control bg-dark text-light" id="new-password" autocomplete="new-password">
                        <button class="input-group-text bg-dark text-light" type="button" onmousedown="showPassword('new-password');" onmouseup="hidePassword('new-password');" onmouseleave="hidePassword('new-password');">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <div class="form-text text-muted">Should contain at least 8 characters</div>
                </div>
                <div class="mb-3">
                    <label asp-for="NewRepeatPassword" class="form-label">Repeat Password</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                        </span>
                        <input asp-for="NewRepeatPassword" type="password" class="form-control bg-dark text-light" id="repeat-password">
                        <button class="input-group-text bg-dark text-light" type="button" onmousedown="showPassword('repeat-password');" onmouseup="hidePassword('repeat-password');" onmouseleave="hidePassword('repeat-password');">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="NewRepeatPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-light"><i class="fas fa-pen"></i> Update Password</button>
            </form>
        </div>
    </div>

    <div class="col-md-4 offset-md-2">
        <div class="mt-3">
            <h5>Developer API Key</h5>
            <div class="mb-3">
                <label asp-for="APIToken" class="form-label">API Key</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-code"></i>
                    </span>
                    <input asp-for="APIToken" type="text" class="form-control bg-dark text-light" id="api-key" style="user-select: all" readonly
                           placeholder="Your API Key">
                    <button id="copy-api-key" class="input-group-text bg-dark text-light" type="button"
                            onmouseover="copyHover()" onclick="copyClick()" onmouseleave="copyLeave()">
                        <i class="fas fa-clipboard"></i>
                    </button>
                </div>
            </div>
            @if (user.Verified)
            {
                <a asp-page-handler="GenerateKey" role="button" class="btn btn-outline-light"><i class="fas fa-redo"></i> Generate Key</a>
                <a asp-page-handler="DeleteKey" role="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete Key</a>
            }
            else
            {
                <a role="button" class="btn btn-outline-light disabled"><i class="fas fa-redo"></i> Generate Key</a>
                <a role="button" class="btn btn-danger disabled"><i class="fas fa-trash-alt"></i> Delete Key</a>
                <p class="text-warning">Verify your account to use the API key</p>
            }
        </div>

        <div class="mt-3">
            <div class="card border-danger">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-danger">Danger Zone</h5>
                    <h6 class="card-subtitle mb-2">Delete your account</h6>
                    <form asp-page-handler="DeleteAccount" method="post" onsubmit="event.preventDefault(); deleteAccount(this);">
                        <div class="mb-3">
                            <label asp-for="DeletionPassword" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                                <input type="password" asp-for="DeletionPassword" class="form-control bg-dark text-light" id="deletion-password">
                                <button class="input-group-text bg-dark text-light" type="button" onmousedown="showPassword('deletion-password');" onmouseup="hidePassword('deletion-password');" onmouseleave="hidePassword('deletion-password');">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <span asp-validation-for="DeletionPassword" class="text-danger"></span>
                            <div class="form-text text-muted">Deleting your account will permanently delete all pastes belonging to you. This action is irreversible.</div>
                        </div>
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/settings.js"></script>
}