@page
@model ApiTokens
@{
    ViewData["Title"] = "Developer API Tokens";
    ViewData["ActivePage"] = ManageNavPages.ApiTokens;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
