@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-2">
                    <label asp-for="Email" class="form-label"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-text" title="Verified!"><i class="fa-solid fa-check"></i></span>
                    </div>
                </div>
            }
            else
            {
                <div class="mb-2">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control mb-2" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn">Send verification email</button>
                </div>
            }
            <label asp-for="Input.NewEmail" class="form-label"></label>
            <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn mt-2">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
