@import "_variables.scss";

// Colors
$link-color: $light;

$body-bg: $devbin-dark;
$body-color: $light;

// Cards
$card-bg: $devbin-dark;

.btn {
  background-color: $light;
  color: $dark;
}

.btn:hover {
  background-color: $dark;
  color: $light;
}

.btn-outline {
  background-color: $dark;
  color: $light;
  border-color: $light;
}

.btn-outline:hover {
  background-color: $light;
  color: $dark;
  border-color: $dark;
}

.border {
  border-color: $light;
}