.outline-dark {
  border-color: #656B72;
  border-width: 2px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

#paste-input {
  resize: none;
  height: 75vh;
  overflow-wrap: break-word;
  outline: none;
  box-shadow: none;
}

#paste-content {
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  outline: none;
  box-shadow: none;
}

.hljs-ln-numbers {
  user-select: none;
  text-align: right;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 10px !important;
}

.hljs-ln-code {
  padding-left: 10px !important;
}

#qrCode > img {
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}
