@import "_variables.scss";

// Colors
$link-color: $dark;

$body-bg: $light;
$body-color: $dark;

// Cards
$card-bg: $light;

$dark-bg: $gray-700;
$dark-bg-hover: $gray-800;

.border, .form-control, .form-select, .input-group-text, .form-check-input {
    border-color: $dark-bg !important;
}

.btn {
    background-color: $dark-bg;
    color: $light;
}

.btn:hover {
    background-color: $dark-bg-hover;
    color: $light;
}

.btn-danger {
    background-color: $danger;
    border-color: $danger !important;
    color: $light;
}

.btn-danger:hover {
    background-color: $danger;
    border-color: $danger !important;
    color: $light;
}

.btn-outline {
    background-color: $light;
    color: $dark;
    border-color: $dark-bg;
}

.btn-outline:hover {
    background-color: $dark-bg;
    color: $light;
    border-color: $light;
}

.btn-outline-danger {
    background-color: $light;
    border-color: $danger !important;
    color: $danger;
}

.btn-outline-danger:hover {
    background-color: $danger;
    color: $light;
}

.link {
  color: $link-color;
  text-decoration: none;
}

.link:hover {
  color: $link-color;
  text-decoration: underline;
}

.badge-color {
    background-color: $dark-bg;
    color: $light;
}

#paste-input {
  resize: none;
  height: 75vh;
  overflow-wrap: break-word;
  outline: none;
  box-shadow: none;
}

#paste-content {
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  outline: none;
  box-shadow: none;
}

.hljs-ln-numbers {
  user-select: none;
  text-align: right;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 10px !important;
}

.hljs-ln-code {
  padding-left: 10px !important;
}

#qrCode > img {
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}

@import "../lib/bootstrap/dist/scss/_variables.scss";