@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfirmEmailModel

@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
