@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <div class="card border">
            <div class="card-body">
                <form id="account" method="post">
                    <h3>Log In</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Input.Username" class="form-label">Username</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                            <input type="text" asp-for="Input.Username" class="form-control" tabindex="1" autocomplete="username" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" tabindex="2">
                            <button class="input-group-text" type="button" tabindex="-1" onmousedown="showPassword('password');" onmouseup="hidePassword('password');" onmouseleave="hidePassword('password');">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="Input.RememberMe" class="form-check-input" tabindex="3">
                        <label class="form-check-label" asp-for="Input.RememberMe"></label>
                        <a class="float-end" asp-page="./ForgotPassword" tabindex="5">Forgot your password?</a>
                    </div>
                    <button type="submit" class="btn" tabindex="4">Log In</button>
                    <div class="mt-3 float-end">
                        <p><a class="float-end" asp-page="Register" tabindex="6">You don't have an account? Click here to sign up!</a></p>
                    </div>
                </form>
                @if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <hr />
                    <h4>Log In with</h4>
                    <div class="text-center">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="row">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <div class="col-sm-12 col-md-6 p-2">
                                        <button type="submit" class="btn btn-outline w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-@provider.DisplayName.ToLower()"></i> @provider.DisplayName</button>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
